# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Build directories
build/
build-*/
out/

# Qt
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
.vs/
*.swp
*~
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
